#clickMe {
    color : red;
}
.example {
    color : green;
} 
a{
    color :burlywood; 
}
h1{
    color : purple;
}
img{
  border: 27px solid rgb(255, 236, 127);
  border-radius: 250px;
}
.highlight{
    background-color: aquamarine;
}
.blabla{
    background-color: magenta; color: lime; font-weight: 7000;
}
.chatMessage{
background-color: seagreen; color: aquamarine; margin: 7; border: 32px solid rgb(192, 168, 29); border-radius: 2500px;
}
