<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hello from Flask!</h1>
    <button id="clickMe">Click me</button>
    <br><script src="{{ url_for('static', filename='script.js') }}"></script>
    <img src="static/rickroll.jpg" width="1250" height = "350">
    <br><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=RDdQw4w9WgXcQ&start_radio=1">No Virus, trust, it's a totally SAFE link :)</a>
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=pzs5QrjJjzeExBF4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br><a href="/about">Credits :</a>
    <br><ol>
  <li>Brawl Stars</li>
  <li>Clash Royale</li>
  <li>Roblox</li>
</ol>
</body>
</html>
