<body class="liveclock">
<div class="comment-block"> 

      <div class = "row-container">
        <h2> 

            Livechat
        </h2>
            <span id = "UN">UserNumber</span>
       
        </div>
        <ul id="chatBox"> 

            Nothing here yet. 

        </ul> 

    </div> 

    <form id="milk">
  <div class="form-group">
    <textarea type="comment" class="form-control" id="message"></textarea>
  </div>
  <div class="mb-3">
    <input type="submit" id="sendBtn"></input>
  </div>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="/static/livechat.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</body>